<ion-header>
  <ion-toolbar>
    <ion-title color="primary">NAVIGATION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <div class="fullheight xc">

    <!-- NAVIGATION TO ALL BREEDS PAGE -->
    <ion-button class="menu_btn" color="secondary" size="large" [routerLink]="['/all-breeds']">
      ALL DOGS BREEDS
    </ion-button>

    <!-- NAVIGATION TO RANDOM BREED PAGE -->
    <ion-button class="menu_btn" color="secondary" size="large" [routerLink]="['/random-breeds']">
      RANDOM BREED
    </ion-button>

    <!-- NAVIGATION TO FAVORITE BREEDS PAGE -->
    <ion-button class="menu_btn" color="secondary" size="large" [routerLink]="['/favorites']">
      FAVORITE
    </ion-button>

  </div>
</ion-content>
